@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.cuesection .indivcue {
  padding-left: 10%;
}
.cuesection .indivcue #cuevideo1 {
  max-width: 400px;
  max-height: 300px;
  border: 7px solid #ddd;
  border-radius: 10px;
}

.cuesection .indivcue #cuename {
  font: 3em "Raleway", sans-serif;
  padding-bottom: 2.5%;
}

.cuesection .indivcue #aboutcue1 {
  padding-right: 10%;
  font: 1.2em "Raleway", sans-serif;
  float: right;
}
